PORT=5000
MONGODB_URI=mongodb+srv://dummyUser:dummyPassword@cluster0.example.mongodb.net/mern_starter_db
JWT_SECRET=dummy_super_secret_jwt_key_change_me
JWT_EXPIRES_IN=7d
JWT_COOKIE_EXPIRES_DAYS=7
CLIENT_URL=http://localhost:5173
ADMIN_EMAIL=admin@example.com
